.pagination .page-link,.pagination .page-link:hover{cursor: auto;background-color:#007bff;border-color:#007bff;background-image:none;}
.pagination .page-item.active .page-link{background-color:#5bc0de;border-color:#007bff;background-image:none;}
.pagination .col-lg-2{padding:0px;text-align: center;}
.page-item:first-child .page-link {border-top-left-radius: 0.6rem;border-bottom-left-radius: 0.6rem;}
.page-item:last-child .page-link {border-top-right-radius: 0.6rem;border-bottom-right-radius: 0.6rem;}